@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__link {
  @apply transition block px-3 py-2 rounded-md text-sm text-gray-600 hover:bg-gray-100 hover:text-gray-900 active:text-gray-900 active:bg-gray-200;
}
.nav__link--active {
  @apply transition  text-gray-800 font-medium;
}

.dashboard__link {
  @apply m-3 p-3 rounded-md opacity-70 flex items-center;
}
.dashboard__link:hover {
  @apply bg-secondary-darkest m-3 p-3 rounded-md opacity-100 flex items-center;
}
.dashboard__link--active {
  @apply bg-secondary  m-3 p-3 rounded-md opacity-100 flex items-center;
}
.background__image {
  background: url('/bkg-johannes-ludwig-8dejZGw3Hec-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.places__wrapper {
  height: calc(100vh - 164px) !important;
}

@media (max-width: 800px) {
  .background__image {
    background: url('/small-bkg-johannes-ludwig-8dejZGw3Hec-unsplash.jpg');
    background-position: center;
    background-size: cover;
  }
}

@layer utilities {
  .translate-3d-50 {
    transform: translate3d(-50%, -50%, 0);
  }
}
